.weatherCard{
    border-radius: 15px;
    height: 200px;
    margin: 10px;
    position: relative;
    text-align: center;
}

.dayBoxDiv{
    margin-left: 15px;
    margin-right: 15px;
    border: 1px solid black;
    padding: 5px;
    height: 90%;
    width: calc(70% / 6);
    text-align:center;
    border-radius: 5px;
    display: inline-block;
}

@media (max-width: 960px) {
    .dayBoxDiv{
        display:block;
        width: 35%;
        margin-top: 10px;
        margin-bottom: 10px;
    }
}


