.weatherCard{
    border-radius: 15px;
    height: 200px;
    margin: 10px;
    position: relative;
    text-align: center;
}

.dayBoxDiv{
    margin-left: 15px;
    margin-right: 15px;
    border: 1px solid black;
    padding: 5px;
    height: 90%;
    width: calc(70% / 6);
    text-align:center;
    border-radius: 5px;
    display: inline-block;
}
.dayBoxDiv:hover {
    background-color: grey;
}
.selected {
    background-color: blue;
}

.addedInfoBox{
    text-align: center;
    position: relative;
    margin: 10px;
    height: 200px;
}

.hoursBox{
    display:inline-block;
    width: 100px;
    height:100%;
    border: 1px solid black;
    boder-radius: 5px;
}

.test{
    height: 90%;
}

@media (max-width: 960px) {
    .dayBoxDiv{
        display:block;
        width: 35%;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .addedInfoBox{
        float: right;
        position: fixed;
        top : 5%;
        left : 40%;
        right: 2%;
        bottom: 10%;
        width: 60%;
        height:90%;
        overflow: visible;
    }

    .hoursBox{
        display: block;
        text-align: center;
        margin: 0 auto;
        width: 75%;
        height: 100px;
    }
}


